doctype html
html
    head
        meta(charset='utf-8')
        meta(content='钢琴学会', http-equiv='keywords')
        meta(name='description', content='钢琴学会,wangid')
        meta(name='viewport', content='width=device-width,user-scalable=no, initial-scale=1')
        title 音乐人生
        link(rel='stylesheet', href='./stylesheets/index.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='./stylesheets/children.css')
        script(type='text/javascript', src='./javascripts/jquery-1.11.0.min.js')
        script(type='text/javascript', src='./javascripts/jquery.SuperSlide.2.1.1.js')
        script(type='text/javascript', src='./javascripts/public.js')
        // 菜单js等

    body
        .top_nav
            .wid_main
                ul.fix
                    li.cur
                        a(href='/home') 网站首页
                    li
                        a(href='/video') 音乐live
                        dl
                            dd
                                a(href='/live') live公告
                            dd
                                a(href='#') live现场
                    li
                        a(href='#') 歌手简介
                        dl
                            dd
                                a(href='#') 歌手写真
                            dd
                                a(href='#') 歌手专辑
                    li
                        a(href='/video') 音乐视频
                        dl
                            dd
                                a(href='/video') 综艺音乐
                            dd
                                a(href='/video') 音乐MV
                    li
                        a(href='#') 最新动态
                        dl
                            dd
                                a(href='#') 歌手动态
                            dd
                                a(href='#') 圈内事件
                    li
                        a(href='/daily') 每日推荐
                    li
                        a(href='#') 新歌速递
                    li
                        a(href='#') 歌单推荐
                    li
                        a(href='/about') 关于小圈
                        dl
                            dd
                                a(href='/about') 小圈简介
                            dd
                                a(href='#') 小圈守则
                            dd
                                a(href='#') 小圈风格
                            dd
                                a(href='#') 小圈功能
                .nav_bg_cur
                    img(src='./img/icon_nav.png')
        .zy_banner
            .pic
                img(src='img/zy_banner03.jpg')
            .weizhi
                .wid_main
                    i
                        img(src='img/icon_weizhi.png')
                    p
                        | 当前位置：
                        a(href='/home') 网站首页
                        |  >
                        a(href='/video') 音乐视频
                        |  >
                        span 音乐mv
        // 内容框
        .zy_contentbox
            .zy_content.wid_main
                .news_xqbox
                    .xq_title
                        h1 周杰伦  等你下课
                        p
                            span 发布日期：2018-03-24
                    .video_xq
                        video(controls='controls')
                            source(src='img/mov_bbb.mp4', type='video/mp4')
                            | 					您的浏览器不支持 video 标签请升级到最新版本！
                    .zy_share
                        h2
                            p
                                | 上一个：
                                a(href='#') 没有了
                            p
                                | 下一个：
                                a(href='#') 李荣浩  李白
            // 底部
            // 侧边栏及滑动导航浮动定位在顶部
            .side_box
                ul
                    li.sidetop
                        a
                            span
                                img(src='img/side_top.png')
                            p 返回顶部
                script(type='text/javascript').
                    $(function(){
                        $(".side_box").hide()
                        window.onscroll=function(){
                            var autoheight=document.body.scrollTop||document.documentElement.scrollTop;
                            if(autoheight>186){
                                $(".side_box").fadeIn(500)
                                $(".top_nav").css({"position":"fixed","z-index":999,"width":"100%","top":36})
                                $(".top_nav").css("box-shadow","0 2px 4px rgba(0,0,0,.5)")
                            }else{
                                $(".side_box").fadeOut(500)
                                $(".top_nav").css({"position":"relative","z-index":99,"width":"100%","top":0})
                                $(".top_nav").css("box-shadow","0 0 0 rgba(0,0,0,.5)")
                            }
                        }
                        $(".sidetop").click(
                            function(){
                                $('body,html').animate({"scrollTop":0},500);
                            }
                        )
                    })
