doctype html
html
    head
        meta(charset='utf-8')
        meta(content='音乐', http-equiv='keywords')
        meta(name='description', content='音乐,wangid')
        meta(name='viewport', content='width=device-width,user-scalable=no, initial-scale=1')
        title 音乐人生
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='./stylesheets/iconfont.css')
        link(rel='stylesheet', type='text/css', media='screen', href='./stylesheets/Reset1.css')
        link(rel='stylesheet', type='text/css', media='screen', href='./stylesheets/player.css')
        link(rel='stylesheet', href='./stylesheets/index.css', type='text/css')
        link(rel='stylesheet', type='text/css', href='./stylesheets/children.css')
    body(bgcolor='#000000')
        // 头部
        .top_nav
            .wid_main
                ul.fix
                    li.cur
                        a(href='/home') 网站首页
                    li
                        a(href='/video') 音乐live
                        dl
                            dd
                                a(href='/live') live公告
                            dd
                                a(href='#') live现场
                    li
                        a(href='#') 歌手简介
                        dl
                            dd
                                a(href='#') 歌手写真
                            dd
                                a(href='#') 歌手专辑
                    li
                        a(href='/video') 音乐视频
                        dl
                            dd
                                a(href='/video') 综艺音乐
                            dd
                                a(href='/video') 音乐MV
                    li
                        a(href='#') 最新动态
                        dl
                            dd
                                a(href='#') 歌手动态
                            dd
                                a(href='#') 圈内事件
                    li
                        a(href='#') 每日推荐
                    li
                        a(href='#') 新歌速递
                    li
                        a(href='#') 歌单推荐
                    li
                        a(href='/about') 关于小圈
                        dl
                            dd
                                a(href='/about') 小圈简介
                            dd
                                a(href='#') 小圈守则
                            dd
                                a(href='#') 小圈风格
                            dd
                                a(href='#') 小圈功能
                .nav_bg_cur
                    img(src='./img/icon_nav.png')
        .zy_banner
            .pic
                img(src='./img/zy_banner02.jpg')
            .weizhi
                .wid_main
                    i
                        img(src='img/icon_weizhi.png')
                    p
                        | 当前位置：
                        a(href='/home') 网站首页
                        |  >
                        a(href='/daily') 每日推荐
                        |  >
        // 播放器
        .music-player
            // audio标签
            audio.music-player__audio
            // 播放器主体
            .music-player__main
                // 模糊背景
                .music-player__blur
                // 唱片
                .music-player__disc
                    // 唱片图片
                    .music-player__image
                        img(width='100%', src='', alt='')
                    // 指针
                    .music-player__pointer
                        img(width='100%', src='./img/cd_tou.png', alt='')
                // 控件主体
                .music-player__controls
                    // 歌曲信息
                    .music__info
                        h3.music__info--title ...
                        p.music__info--singer ...
                    // 控件...
                    .player-control
                        .player-control__content
                            .player-control__btns
                                .player-control__btn.player-control__btn--prev
                                    i.iconfont.icon-prev
                                .player-control__btn.player-control__btn--play
                                    i.iconfont.icon-play
                                .player-control__btn.player-control__btn--next
                                    i.iconfont.icon-next
                                .player-control__btn.player-control__btn--mode
                                    i.iconfont.icon-loop
                            .player-control__volume
                                .control__volume--icon.player-control__btn
                                    i.iconfont.icon-volume
                                .control__volume--progress.progress
                        // 歌曲播放进度
                        .player-control__content
                            .player__song--progress.progress
                            .player__song--timeProgess.nowTime 00:00
                            .player__song--timeProgess.totalTime 00:00
            // 歌曲列表
            .music-player__list
                ul.music__list_content
                    //
                      <li class="music__list__item play">123</li>
                      <li class="music__list__item">123</li>
                      <li class="music__list__item">123</li>
        script(src='./javascripts/utill.js')
        script(src='./javascripts/jquery.min.js')
        script(src='./javascripts/player.js')
