doctype html
html
    head
        meta(charset='utf-8')
        title 登录界面
        link(rel='stylesheet', href='./stylesheets/reset.css')
        link(rel='stylesheet', href='./stylesheets/common.css')
        link(rel='stylesheet', href='./stylesheets/font-awesome.min.css')
        script(style='text/javascript' src='/javascripts/login01.js')
    body
        .wrap.login_wrap
            .content
                .logo
                .login_box
                    .login_form
                        .login_title
                            | 登录
                        form(action='/login', method='post')
                            .form_text_ipt
                                input(name='username', type='text', placeholder='用户名', autocomplete='off')
                            .ececk_warning
                                span 用户名不为空
                            .form_text_ipt
                                input(name='password', type='password', placeholder='密码')
                            .ececk_warning
                                span 密码不能为空
                            .form_check_ipt
                                .left.check_left
                                    label
                                        input(name='', type='checkbox')
                                        |  下次自动登录
                                .right.check_right
                                    a(href='#') 忘记密码
                            .form_btn
                                button.enter-btn(type="submit", onclick='return validPwd()') 登录
                            .form_reg_btn
                                span 还没有帐号？
                                a(href='/register') 马上注册
        div(style='text-align:center;')